In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('c://python files/input.txt');

In [11]:
df

   a  b   c   d message
0  1  2   3   4   hello
1  4  5   6   7   world
2  8  9  10  11     foo

In [14]:
df=pd.read_csv('c://python files/input.txt',header=None);
df

   0  1    2   3        4
0  a  b    c   d  message
1  1  2    3   4    hello
2  4  5    6   7    world
3  8  9  10   11      foo

In [20]:
names=['aa','bb','cc','dd']
df=pd.read_csv('c://python files/input.txt',names=names, index_col=4);
df

        aa bb   cc  dd
message  a  b    c   d
hello    1  2    3   4
world    4  5    6   7
foo      8  9  10   11

In [28]:
df=pd.read_csv('c://python files/inout1.txt', index_col=['key1','key2'])
df

            val1  val2
key1  key2
one   a        1     2
      b        2     2
      c        3     2
      d        4     2
two   e        5     2
      f        6     2
three g        7     2
      h        8     2

In [30]:
import sys
df.to_csv(sys.stdout)

key1,key2,val1,val2
one,a,1,2
one,b,2,2
one,c,3,2
one,d,4,2
two,e,5,2
two,f,6,2
three,g,7,2
three,h,8,2

In [31]:
df.to_csv('c://python files/out.txt')

In [3]:

pip install beautifulsoup4 html5lib

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.5)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.14.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install lxml

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - lxml


The following packages will be UPDATED:

  conda                                        4.8.2-py37_0 --> 4.8.4-py37_0


Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3

In [6]:
import pandas as pd
tables=pd.read_html('examples/fdic_failed_bank_list.html')

ValueError: No tables found

In [7]:
df=pd.read_csv('c://python files/inout1.txt', index_col=['key1','key2'])
df.to_pickle('frame_pickle')

In [10]:
pd.read_pickle('frame_pickle')

            val1  val2
key1  key2
one   a        1     2
      b        2     2
      c        3     2
      d        4     2
two   e        5     2
      f        6     2
three g        7     2
      h        8     2